<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .pad{
            padding: 10%;
        }
        h1{
            text-align: center;
        }
    </style>
<title>ログイン</title>
</head>
<body>
    <div class="pad">
        <h1>Pet Cube</h1>
        <br>
        <form action="/login" method="POST" class="form-inline">
            <div class="form-group">
            <label for="exampleInputEmail1">ユーザー名: </label>
            <input type="text" name="user_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">パスワード: </label>
            <input type="password" name=user_pass class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">登録</button>
        </form>
    </div>
</body>
</html>